<div class="col-sm-3 col-md-2 sidebar">
  <span><%= link_to "Edit My Info", edit_user_path, class: "btn btn-primary" %></span>
  <div class="nav nav-sidebar">
    <h5>Team Members:</h5>
    <ul>
      <%= render @user.members %>
    </ul>
  </div>

  <div class="nav nav-sidebar">
    <h5>Categories:</h5>
    <ul>
    <% @user.categories.each do |cat| %>
     <li> <%= link_to cat.name, category_path %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="col-md-8">
  <h1><%= @user.first_name %>'s Task List <span><%= link_to "New Task", new_task_path, class: "btn btn-primary" %></span><span><%= link_to "New Member", new_member_path, class: "btn btn-primary" %></span></h1>
  <div>
    <ul class="list-group list-unstyled">
      <%= render @user.tasks %>
    </ul>
  </div>
</div>



